* {
  margin: 0;
  padding: 0;
}

#canvas-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  widows: 100vw;
}

#canvas {
  background-color: #1D1D1D;
  border: 2px dotted white;
}

#ctrl-btn {
  position: fixed;
  top: 0;
  right: 0;
}

#ctrl-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #2C2C2C;
  color: #FFFFFF;
  transition: ease-in-out 0.2s;
  opacity: 0;
  display: none;
  flex-direction: column;
  user-select: none;
}

.visible-menu {
  opacity: 1 !important;
  display: flex !important;
}