* {
  margin: 0;
  padding: 0;
}

#canvas-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  widows: 100vw;
}

#canvas {
  background-color: #1D1D1D;
  border: 2px dotted white;
}

#ctrl-btn {
  position: fixed;
  top: 0;
  right: 0;
}

#ctrl-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #2C2C2C;
  color: #FFFFFF;
  transition: ease-in-out 0.2s;
  opacity: 0;
  display: none;
  flex-direction: column;
  user-select: none;
}

.visible-menu {
  opacity: 1 !important;
  display: flex !important;
}

.simple-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.toggle {
  display: flex;
  justify-content: flex-start;
  height: 1rem;
  width: 1.5rem;
  background-color: gray;
  border-radius: 0.5rem;
  padding: 0.1rem;
}

.toggle-circle {
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
}

.toggle:has(.toggle-chbx:checked) {
  background-color: lime;
  justify-content: flex-end;
}

.toggle-chbx {
  display: none;
}